```{=html}
<% for (const item of items) { %>
  <h2><i class="fa-regular <%- item.icon %>"></i> <%= item.section %></h2>
  <% if (item.description) { %>
    <p><%= item.description %></p>
  <% } %>

  <dl>
  <% for (const entry of item.entries) { %>
    <dt>
    <% if (entry.href) { %>
      <a href="<%- entry.href %>"><%= entry.title %></a>
    <% } else { %>
      <%= entry.title %>
    <% } %> 
    </dt>
    <dd>
      <div class="d-flex justify-content-between">
        <div>
          <i class="fa-regular fa-calendar-days"></i> 
          <!-- TODO: This is needed only because I can't get Quarto to assign them as dates -->
          <% let start_date = new Date(entry.start) %>
          <% let start = new Intl.DateTimeFormat('en-GB', { dateStyle: 'medium'}).format(start_date) %>

          <% if (entry.end) { %>
            <% let end_date = new Date(entry.end) %>
            <% let end = new Intl.DateTimeFormat('en-GB', { dateStyle: 'medium'}).format(end_date) %>
            <% if (entry.start == entry.end) { %>
              <%= start %>
            <% } else { %>
              <%= start %> to <%= end %>
            <% } %>
          <% } else { %> 
            <%= start %> to present
          <% } %> 
        </div>
        <div>
          <i class="fa-solid fa-location-dot"></i> <%= entry.location %>
        </div>
      </div>
    </dd>
    <% if (entry.supervisor) { %>
    <dd>
      Supervisor: <%= entry.supervisor %>
    </dd>
    <% } %>
    <% if (entry.description) { %>
    <dd>
      <%= entry.description %>
    </dd>
    <% } %>
  <% } %>
  </dl>
<% } %>
```
